/* Montserrat - Local (400 Regular + 600 Bold) */
@font-face {
    font-family: 'Montserrat';
    src: url('/Montserrat Regular/Montserrat-Regular.woff2') format('woff2'),
        url('/Montserrat Regular/Montserrat-Regular.woff') format('woff'),
        url('/Montserrat Regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Montserrat Bold/Montserrat-Bold.woff2') format('woff2'),
        url('/Montserrat Bold/Montserrat-Bold.woff') format('woff'),
        url('/Montserrat Bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Poppins - Local (400 Regular + 600 SemiBold) */
@font-face {
    font-family: 'Poppins';
    src: url('/Poppins Regular/Poppins-Regular.woff2') format('woff2'),
        url('/Poppins Regular/Poppins-Regular.woff') format('woff'),
        url('/Poppins Regular/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins SemiBold/Poppins-SemiBold.woff2') format('woff2'),
        url('/Poppins SemiBold/Poppins-SemiBold.woff') format('woff'),
        url('/Poppins SemiBold/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
